.dice-roll-history {
  position: absolute;
  top: var(--space-3);
  right: var(--space-3);
  z-index: 1;

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    padding: var(--space-2) var(--space-2);
    border-radius: var(--radius-2);
    font-size: var(--font-size-1);
    font-weight: 500;
    line-height: 1;
    color: white;

    &--won {
      background: var(--green-9);
    }

    &--lost {
      background: var(--gray-10);
    }

    &--fade-0 {
      opacity: 0.15;
    }

    &--fade-1 {
      opacity: 0.25;
    }

    &--fade-2 {
      opacity: 0.5;
    }

    &--fade-3 {
      opacity: 0.75;
    }

    &--fade-4 {
      opacity: 1;
    }
  }
}
