DATABASE_URL=postgresql://vfair:vfair@localhost:5432/vfairgames?schema=public
PARTNER_API_DATABASE_URL=postgresql://vfair:vfair@localhost:5432/vfair_partner
RABBITMQ_URL=amqp://vfair:vfair@localhost:5672
